<div class="login">
  <div class="login-container">
    <div class="user-login">
      <form id="login-form" action="/users/login" method="post">
        <h2 id="login-header">Login</h2>
        <label id="signup-username" for="username">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username"
          required
        />
        <label id="signup-password" for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          required
        />
        <button id="confirm-login-button" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>